<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
    <mappers>
    	<mapper resource="config/mapper/OrderMapper.xml"/>
        <mapper class="com.pvkfoods.dao.mapper.CustomerServiceMapper" />
        <mapper class="com.pvkfoods.dao.mapper.ProductServiceMapper" />
        <mapper class="com.pvkfoods.dao.mapper.UserServiceMapper" />
        
    </mappers>
</configuration>